@model NapredneBP_Project.Models.User
@{
    <div class="text-center">
        <h3>@Html.ActionLink("Register", "Create1", "User")</h3>
    </div>

    <br />

    <div class="text-center">
        <h3>@Html.ActionLink("Login", "Login1", "User")</h3>
    </div>
}