@model NapredneBP_Project.Models.Movie


<form method="get" asp-action="GetMovieByTitle" asp-controller="Movie" >
    <div class="form-group">
        <input asp-for="@Model.Title" placeholder="Search" />
        <span asp-validation-for="@Model.Title"></span>
        <button class="btn btn-primary" type="submit">Search movie</button>
    </div>

</form>
    @*Ne posalje objekat, zeza ga ASCII encoding, a nije do toga sto objekat ima samo Title, slicno se salje i za CreateMovie*@
