@model IEnumerable<Movie>
@{
    <h1>This is a list of the top 5 best movies</h1>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Publishing date</th>
                <th>Description</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="30%">@obj.Title</td>
                    <td width="30%">@obj.PublishingDate</td>
                    <td width="50%">@obj.Description</td>
                    <td width="50%">@obj.Rate</td>
                </tr>
            }
        </tbody>
    </table>
}
