@model Movie
@{
    <!--<form method="get" asp-action="GetMovieByGenre">
        <div class="border p-3 mt-4">
            <div class="mb-3">
                <label asp-for="Genre"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px">Search</button>
            <a asp-controller="Movie" asp-action="AllMovies" class="btn btn-secondary" style="width:150px">
                Back to list
            </a>
        </div>
    </form>-->
}