@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to IMDB <i>Clone</i></h1>
    <p>Your favorite movies all in one place</p>
</div>

<br />

<div class="text-center">
    <h3>@Html.ActionLink("Show all movies", "AllMovies", "Movie")</h3>
</div>

<br />

<div class="text-center">
    <h3>@Html.ActionLink("Create new movie", "Index", "Movie")</h3>
</div>

<br />

<div class="text-center">
    <h3>@Html.ActionLink("Show all persons", "GetAllPersons", "Person")</h3>
</div>

<br />

<div class="text-center">
    <h3>@Html.ActionLink("Create new person", "Index", "Person")</h3>
</div>
