@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodosli</h1>
    <p>Sajt o filmovima koji ne znam kako ce da radi!!!.</p>
</div>

<br />

<div class="text-center">
    <h3>@Html.ActionLink("Pregledajte filmove", "Index", "MovieController")</h3>
</div>

<br />
